<footer class="footer text-center bg-dark">
	<div class="container">
		<div class="row pt-4">
			<div class="col-lg-6">
				<%= link_to 'Youtube', "https://www.youtube.com/user/michalbiey", target: :_blank %> |
				<%= link_to 'Facebook', "https://www.facebook.com/Klub-Sportowy-Cross-Sport-1586418681589182/", target: :_blank %>  |
				<%= link_to 'Herbalife', "https://kontakt.herbalife.pl", target: :_blank %>
			</div>
			<div class="col-lg-6">
				<p><span color="#eeeeee">@2019 Jarosław Żmijewski</span></p>
			</div>
		</div>
	</div>
</footer>