<footer class="footer text-center bg-dark">
	<div class="container">
		<div class="row pt-4">
			<div class="col-lg-6">
				<p>©2019 Cross Sport</p>

			</div>
			<div class="col-lg-6">
				<p><span color="#eeeeee">Jarosław Żmijewski | Copyright ©2019</span></p>
			</div>
		</div>
	</div>
</footer>