<footer class="footer text-center bg-dark">
	<div class="container">
			<div class="row" style="padding-top: 1rem;">
		<div class="col-lg-6">
			<span color="#eeeeee">Follow us: Twitter | Facebook | Youtube </span>
		</div>
		<div class="col-lg-6">
			<span class="floatr" color="#eeeeee">@Jarosław Żmijewski</span>
		</div>
			</div>
		</div>
	</footer>