<footer class="footer text-center bg-dark">
	<div class="container">
		<div class="row" style="padding-top: 1rem;">
			<div class="col-lg-6">
				<p><span color="#eeeeee">Follow us: Twitter | Facebook | Youtube </span></p>
			</div>
			<div class="col-lg-6">
				<p><span color="#eeeeee">@Jarosław Żmijewski</span></p>
			</div>
		</div>
	</div>
</footer>