<section class="container">
  <div class="row">
      <div class="col-md-12">

<h1>Edytuj wpis</h1>
  </div>
    	</div>

<%= render 'form', practice: @practice %>

<%= link_to 'Pokaż', @practice %> |
<%= link_to 'Powrót', practices_path %>
</section>
