<section class="container">
	  <div class="row">
	      <div class="col-md-12">
	<br> <!-- must?-->
	<br>
	<h1>Nowy wpis</h1>

		   </div>
	   </div>

	<%= render 'form', practice: @practice %>

	<%= link_to 'Powrót', practices_path, class: 'btn btn-success' %>
</section>
