<section class="container">
  <div class="row">
      <div class="col-md-12">
<br> <!-- must?-->
<br>
<h1>New Practice</h1>

	   </div>
   </div>

<%= render 'form', practice: @practice %>

<%= link_to 'Back', practices_path %>
</section>
