<section class="container pt-5">
	<div class="row pt-5">
    	<div class="col-12 pt-5">

          <h1 class="pt-5">Gratuluję, wprowadziłeś nowe zmiany w sekcji 'o nas'</h1>
          <%= link_to 'Powrót', root_path, class: "btn btn-lg btn-primary" %>

    	</div>
	</div>
</section>