.footer
{
	background-color: #121212;
	padding-top: 3rem;
	margin-top: 1rem;
	width: 100%;
	min-height: 150px;
	line-height: 60px;
}

.footer a
{
	border-bottom: 1px solid transparent;
	-webkit-transition-border: border 0.2s ease;
	-moz-transition-border: border 0.2s ease;
	-ms-transition-border: border 0.2s ease;
	-o-transition-border: border 0.2s ease;
	transition-border: border 0.2s ease;
	color:#aaaaaa;
}

.footer a:hover
{
	text-decoration:none;
	border-bottom-color: #00eeff;
}


