// Place all the styles related to the Practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card
{
	-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	-ms-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	-o-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	padding: 6%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.card-title
{
	padding-top: 1rem;
	text-transform: lowercase;
	font-size: 14px;
}

.card-topper
{
	background-color: #F5F5DC;
	min-height: 150px;
}

.practice-bottom {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.form-control {
	width: 100%;
	background-color: #F5F5DC;
}

.responsive_img {
	width:50%; 
	object-fit:cover;
}

@media only screen and (max-width: 1199px),
(min-device-width: 992px) and (max-device-width: 1199px) {
	.responsive_img {
		width:80%; 
		height:100%;
		object-fit:cover;}
}

@media only screen and (max-width: 991px),
(min-device-width: 768px) and (max-device-width: 991px) {
	.responsive_img {
		width:100%; 
		height:100%;
		object-fit:cover;}
}

@media only screen and (max-width: 767px),
(min-device-width: 100px) and (max-device-width: 767px) {
	.responsive_img {
		width:100%; 
		height:100%;
		object-fit:cover;}
}  

@media only screen and (max-width: 576px),
(min-device-width: 100px) and (max-device-width: 576px) {
	.responsive_img {
		width:100%; 
		height:100%;
		object-fit:cover;}
}